/* is style.. or is? */

body {
    margin: 10%;
    background-color: lightsteelblue;
}

h1 {
    color: red;
}

.results {
    border: skyblue;
}

#progressBar {
    background-color: lightpink;
    border-radius: 5px;
    width: 50%;
}