/* is style.. or is? */

body {
    margin: 5% 10%;
    background: rgb(0,75,215);
    background: linear-gradient(0deg, rgba(0,75,215,0.9102384707866571) 0%, rgba(255,100,255,0.53299488104306734) 100%);
    background-attachment: fixed;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    color: darkmagenta;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    opacity: 0.75;
}

.results {
    border: skyblue;
    background-color: rgba(250, 250, 250, 0.4);

}

#fileUpload {
    display: none;
    align-items: center;
}

#fileButton {
    background-color: darkmagenta;
    border-radius: 5px;
    padding: 5px;
    opacity: 1;
}

#progressBar {
    background-color: darkmagenta;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
}

#frontPageInfo {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(250, 250, 250, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}